In [40]:
import pandas as pd
import xlrd
import datetime

In [41]:
data =xlrd.open_workbook("Amar-Akbar-Anthony_9_1-30_clean.xls")

In [42]:
sheet = data.sheet_by_index(0) #here index mean tab's in excel first tab in 0 index

In [43]:
sheet.cell_value(0, 0)

'Station: Amar'

In [44]:
sheet.ncols

13

In [48]:
temp=pd.DataFrame(columns=['date','value'])
temp.head()

Empty DataFrame
Columns: [date, value]
Index: []

In [49]:
for yr in range(1,31,1):
    row_yrs=(yr-1)*12*31
    for mon in range(1,13,1):
        row_index=4*yr+(31*(yr-1))-1
        row_mon=row_yrs+(mon-1)*31
        for da in range(1,32,1):
            row_value=row_mon+da-1
            try:
                temp.loc[row_value,'date']=datetime.date(yr,mon,da)
            except ValueError:
                continue
            temp.loc[row_value,'value']=sheet.cell_value(row_index+da, mon)

In [50]:
temp.head()

         date value
0  0001-01-01   0.8
1  0001-01-02   0.2
2  0001-01-03   1.5
3  0001-01-04
4  0001-01-05

In [52]:
temp.to_csv("temp.csv")