In [4]:
import pandas as pd
import xlrd
import datetime
import numpy as np
from scipy.stats import shapiro

In [5]:
data =xlrd.open_workbook("Amar-Akbar-Anthony_9_1-30_clean.xls")

In [6]:
def consolid_data(sheet):
    temp=pd.DataFrame(columns=['date','value'])
    for yr in range(1,31,1):
        row_yrs=(yr-1)*12*31
        for mon in range(1,13,1):
            row_index=4*yr+(31*(yr-1))-1
            row_mon=row_yrs+(mon-1)*31
            for da in range(1,32,1):
                row_value=row_mon+da-1
                try:
                    temp.loc[row_value,'date']=datetime.date(yr,mon,da)
                except ValueError:
                    continue
                temp.loc[row_value,'value']=sheet.cell_value(row_index+da, mon)
    return temp

In [7]:
amar_rain=consolid_data(data.sheet_by_index(0)) #here index mean tab's in excel first tab in 0 index

In [8]:
amar_rain.head()

         date value
0  0001-01-01   0.8
1  0001-01-02   0.2
2  0001-01-03   1.5
3  0001-01-04
4  0001-01-05

In [9]:
amar_temp=consolid_data(data.sheet_by_index(1))
amar_humid=consolid_data(data.sheet_by_index(2))

In [10]:
amar_temp.head()
amar_humid.head()

         date value
0  0001-01-01    96
1  0001-01-02    88
2  0001-01-03    92
3  0001-01-04    90
4  0001-01-05    95

In [11]:
#sheet.cell_value(1, 4)
#sheet.ncols

In [9]:
akb_rain=consolid_data(data.sheet_by_index(3))
akb_temp=consolid_data(data.sheet_by_index(4))
akb_humid=consolid_data(data.sheet_by_index(5))
ant_rain=consolid_data(data.sheet_by_index(6))
ant_temp=consolid_data(data.sheet_by_index(7))
ant_humid=consolid_data(data.sheet_by_index(8))

In [12]:
amar_rain['value'].isnull().sum()

0

In [13]:
amar_rain.iloc[3,1]

''

In [14]:
#replacing '' from all dataframe
amar_rain_df=amar_rain.replace(to_replace = '', value = np.nan)
amar_temp_df=amar_temp.replace(to_replace = '', value = np.nan)
amar_humid_df=amar_humid.replace(to_replace = '', value = np.nan)
akb_rain_df=akb_rain.replace(to_replace = '', value = np.nan)
akb_temp_df=akb_temp.replace(to_replace = '', value = np.nan)
akb_humid_df=akb_humid.replace(to_replace = '', value = np.nan)
ant_rain_df=ant_rain.replace(to_replace = '', value = np.nan)
ant_temp_df=ant_temp.replace(to_replace = '', value = np.nan)
ant_humid_df=ant_humid.replace(to_replace = '', value = np.nan)

NameError: name 'akb_rain' is not defined

In [15]:
amar_rain_df['value'].isnull().sum()

5670

In [18]:
amar_rain_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10957 entries, 0 to 11159
Data columns (total 2 columns):
date     10957 non-null object
value    5287 non-null object
dtypes: object(2)
memory usage: 576.8+ KB

In [49]:
amr_df=amar_rain_df.dropna()['value']
amr_df

0        0.8
1        0.2
2        1.5
7        6.4
8        0.1
        ...
11151    0.8
11152    0.1
11154    0.2
11157    0.1
11158    0.1
Name: value, Length: 5287, dtype: object

In [51]:
amr_df1=pd.to_numeric(amr_df,errors='coerce')
amr_df1

0        0.8
1        0.2
2        1.5
7        6.4
8        0.1
        ...
11151    0.8
11152    0.1
11154    0.2
11157    0.1
11158    0.1
Name: value, Length: 5287, dtype: float64

In [52]:
stat, p = shapiro(amr_df1)
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=nan, p=1.000

In [53]:
amr_df1.mean()

11.375212866603595

In [57]:
amr_df1

0        0.8
1        0.2
2        1.5
7        6.4
8        0.1
        ...
11151    0.8
11152    0.1
11154    0.2
11157    0.1
11158    0.1
Name: value, Length: 5287, dtype: float64

In [58]:
amr_df1_gm=amr_df1[amr_df1>amr_df1.mean()]

In [60]:
amr_df1_gm

26        29.2
27        19.5
93        11.7
113       42.2
126       13.8
         ...
11083    523.8
11084    212.3
11093     14.3
11121     19.4
11144     41.7
Name: value, Length: 1072, dtype: float64

In [55]:
amr_df1.sum()/5287

11.370909778702478

In [45]:
#df.set_index('month')

In [62]:
stat, p = shapiro(amr_df1_gm)
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpret
alpha = 0.05
if p > alpha:
	print('Sample looks Gaussian (fail to reject H0)')
else:
	print('Sample does not look Gaussian (reject H0)')

Statistics=0.672, p=0.000
Sample does not look Gaussian (reject H0)

In [ ]:
#temp.head()
ant_rain.to_csv("ant_rain.csv")